.header {
  @extend %grid;
  align-items: center;

  padding: spacing(3) 0;
  border-bottom: 1px solid $white;

  &__logo {
    grid-column: 1 / 4;

    display: flex;
    align-items: center;
    column-gap: spacing(2);
  }

  &__link {
    display: flex;
    align-items: center;
    column-gap: spacing(2);

    .github-logo {
      height: spacing(4);
      width: spacing(4);

      path {
        fill: $white;
      }
    }
  }

  &__chip {
    padding: spacing(1) spacing(1.5);

    border: 1px solid $white;
    box-sizing: border-box;
    border-radius: 27px;

    cursor: default;
  }

  &__navigation {
    grid-column: 11 / 13;
  }

  &__list {
    display: flex;
    column-gap: spacing(5);
  }
}
