.event-detail {
  $self: &;

  @extend %grid;

  position: relative;

  &__user {
    margin-bottom: spacing(2);
    display: block;

    font-family: $inter;
    font-weight: $semibold;
    font-size: 1.25rem;
    line-height: 1.4;

    &:hover {
      text-decoration: underline;
    }
  }

  &__title {
    @extend %header-2;

    &[href]::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    row-gap: spacing(4);

    width: 100%;
    height: auto;
    box-sizing: border-box;

    grid-column: 1 / 5;

    @media (min-width: $md) {
      grid-column: 2 / 7;
    }

    @media (min-width: $lg) {
      grid-column: 3 / 8;
    }

    a {
      z-index: $index-event-link;
    }
  }

  &.full-page &__info {
    justify-content: flex-start;

    @media (min-width: $md) {
      grid-column: 3 / 8;
    }
  }

  &:not(.full-page) #{ $self }__info {
      padding: spacing(3);
      position: relative;
      aspect-ratio: 1 / 1;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;

        height: 100%;
        width: auto;
        aspect-ratio: 1 / 1;

        background: linear-gradient(116.27deg, rgba(10, 3, 214, 0.4) -13.85%, rgba(107, 0, 207, 0.4) 30.72%, rgba(227, 46, 64, 0.4) 107.36%);
        border-radius: 50%;

        z-index: -1;
      }
  }

  &__meta {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__column {    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: spacing(2);
  }

  &__text {
    margin-top: spacing(2.5);

    @extend %body-1;
    color: $white-80;

    @extend %markdown;
  }

  &__link-wrapper {
    margin-top: spacing(3);

    display: flex;
    align-items: center;
    justify-content: center;

    grid-column: 1 / 9;

    @media (min-width: $lg) {
      grid-column: 8 / 11;

      #{ $self }.full-page & {
        grid-column: 9 / 12;
      }
    }
  }

  &__link {
    height: 182px;
    width: 182px;

    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: spacing(1);

    background: $white-20;

    @extend %body-1;
    color: $white;

    border-radius: 50%;
    transition: background $simple-fade, color $simple-fade;

    .icon-arrow-right path {
      fill: $white;

      transition: fill $simple-fade;
    }

    &:hover {
      background: $white;
      color: $purple;

      svg path {
        fill: $purple;
      }
    }

  }

  &.reverse-columns {
    #{ $self }__link-wrapper {
      justify-content: flex-start;

      grid-column: 1 / 4;

      @media (min-width: $md) {
        grid-column: 2 / 7;
      }

      @media (min-width: $lg) {
        grid-column: 3 / 6;
      }
    }

    #{ $self }__info {
      grid-column: 1 / 4;

      @media (min-width: $md) {
        grid-column: 2 / 7;
      }

      @media (min-width: $lg) {
        grid-column: 6 / 11;
        grid-row: 1;
      }
    }
  }
}