.layout {
  min-height: 100vh;

  background-image: linear-gradient(
    116.27deg,
    $blue -13.85%,
    $purple 31.49%,
    $red 107.36%
  );
  background-attachment: fixed;

  position: relative;

  &::before {
    content: '';

    position: fixed;
    width: 200vw;
    height: 200vw;
    left: -100vw;
    top: 0;

    background: linear-gradient(
      116.27deg,
      $blue -13.85%,
      $purple 30.72%,
      $red 107.36%
    );

    border-radius: 50%;

    transition: transform $background-fade;
  }

  &.step-1::before {
    transform: rotate(45deg);
  }

  &.step-2::before {
    transform: rotate(90deg);
  }

  &.step-3::before {
    transform: rotate(44.27deg);
  }

  &.step-4::before {
    transform: rotate(-105deg);
  }

  &.step-5::before {
    transform: rotate(105deg);
  }

  &.step-6::before {
    width: 120vh;
    height: 120vh;
    left: calc(50% - 60vh);
    top: 0;

    background: linear-gradient(116.27deg, #0A03D6 -13.85%, #6B00CF 30.72%, #E32E40 107.36%);
  }

  &__content {
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;

    z-index: $index-content;
  }

  main {
    flex-grow: 1;
  }
}
