.layout {
  $self: &;

  min-height: calc(var(--vh, 1vh) * 100);

  background-image: linear-gradient(
    116.27deg,
    $blue -13.85%,
    $purple 31.49%,
    $red 107.36%
  );
  background-attachment: fixed;

  position: relative;

  &__bubbles {
    position: fixed;
    height: calc(var(--vh, 1vh) * 100);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__back-bubble {
    position: fixed;
    width: 100vw;
    height: 100vw;

    top: 0;
    left: 0;

    border-radius: 50%;

    background: linear-gradient(
      116.27deg,
      $blue -13.85%,
      $purple 30.72%,
      $red 107.36%
    );

    transition: transform $background-fade, opacity $background-fade;

    #{ $self }.step-0 & {
      transform: scale(3) translateX(32vw) translateY(32vw) rotate(0deg);
    }

    #{ $self }.step-1 & {
      transform: scale(4) translateX(0) translateY(0) rotate(45deg);
    }

    #{ $self }.step-2 & {
      transform: scale(4) translateX(0) translateY(35vw) rotate(45deg);
    }

    #{ $self }.step-3 & {
      transform: scale(2) translateX(0) translateY(0vw) rotate(271deg);
    }

    #{ $self }.step-6 &, #{ $self }.step-7 & {
      opacity: 0;
    }
  }

  &__front-bubble {
    position: relative;
    width: 100vmin;
    height: 100vmin;

    top: 0;
    left: 0;

    transition: transform $background-fade, clip-path $background-fade, width $background-fade, height $background-fade;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      background: linear-gradient(
        116.27deg,
        $blue -13.85%,
        $purple 30.72%,
        $red 107.36%
      );

      clip-path: ellipse(50% 48% at 50% 50%);
      outline: 0;

      border-radius: 50%;

      transition: transform $background-fade;
    }

    #{ $self }.step-0 & {
      transform: scale(2) translateX(-20vw) translateY(25vh);

      &::after {
        transform: rotate(-90deg);
      }
    }

    #{ $self }.step-1 & {
      transform: scale(0.8) translateX(0vw) translateY(0);

      &::after {
        transform: rotate(0deg);
      }
    }

    #{ $self }.step-2 & {
      transform: scale(1) translateX(0vw) translateY(0);

      
      &::after {
        transform: rotate(271deg);
        transition: transform 10s $bezier-default;
      }
    }

    #{ $self }.step-3 & {
      transform: scale(1) translateX(0vw) translateY(-100vw);
      transition: transform 5s $bezier-default;

      &::after {
        transform: rotate(0deg);
      }
    }

    @keyframes background {
      to    { transform: rotate(364deg); }
    }

    #{ $self }.step-6 & {
      transform: scale(1.2) translateX(0vh) translateY(0vh);

      &::after {
        background: linear-gradient(116.27deg, $blue -13.85%, $purple 30.72%, $red 107.36%);
        transform: rotate(0deg);
        animation: background 16s infinite alternate-reverse;
      }
    }

    #{ $self }.step-7 & {
      transform: scale(0.8) translateX(0vh) translateY(0vh);

      &::after {
        background: linear-gradient(116.27deg, $blue -13.85%, $purple 30.72%, $red 107.36%);
        transform: rotate(0deg);
        animation: background 16s infinite alternate-reverse;
      }
    }
  }

  &__content {
    min-height: calc(var(--vh, 1vh) * 100);
    position: relative;
    display: flex;
    flex-direction: column;

    z-index: $index-content;
  }

  main {
    flex-grow: 1;
  }
}
