.anchor-navigation {
  $self: &;

  position: fixed;
  left: spacing(1.5);
  top: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  row-gap: spacing(3.5);

  z-index: $index-anchor-navigation;

  @media (min-width: $lg) {
    left: spacing(4);
    row-gap: spacing(1.5);
  }

  &__button {
    position: relative;
    width: 30px;

    border: none;
    background: unset;

    cursor: pointer;

    @media (min-width: $lg) {
      width: 100%;
      height: spacing(4);
      padding-left: spacing(4.5);
      text-align: left;
    }

    &::before {
      content: '';
      position: absolute;
      left: 8px;
      bottom: 8px;
      height: 16px;
      width: 16px;

      border-radius: 50%;
      background: $white;
      box-sizing: border-box;

      opacity: 0;
      transition: opacity $simple-fade;

      @media (min-width: $lg) {
        height: 20px;
        width: 20px;

        left: 6px;
        top: 6px;
        bottom: 0;
      }
    }

    &::after {
      content: '';
      position: absolute;
      left: 12px;
      bottom: 12px;
      height: 8px;
      width: 8px;

      background: $white;
      border-radius: 50%;

      opacity: 0.5;
      transition: opacity $simple-fade;

      @media (min-width: $lg) {
        top: 12px;
        bottom: 0;
      }
    }

    &:hover, &:focus-within {
      #{ $self }__text {
        opacity: 0.5;
      }
    }

    &.active {
      width: auto;
      
      &::before {
        opacity: 0.2;
      }

      &::after,
      #{ $self }__text {
        opacity: 1;
      }

      #{ $self }__text {
        padding-top: spacing(4);
        max-height: spacing(20);
      }

      @media (min-width: $lg) {
        #{ $self }__text {
          padding-top: initial;
          max-height: initial;
        }
      }
    }
  }

  &__text {
    padding-right: 3px;

    @extend %subtitle-2;
    color: $white;
    white-space: nowrap;

    max-height: 0;
    writing-mode: vertical-rl;
    transform: scale(-1);
    overflow: hidden;

    transition: opacity $simple-fade, max-height $navigation-fade;

    @media (min-width: $md) {
      padding-right: 1px;
    }

    @media (min-width: $lg) {
      padding: spacing(2) 0;
      opacity: 0;
      max-height: initial;
      writing-mode: initial;
      transform: initial;
    }
  }
}
