.get-involved {
  min-height: calc(100vh - $header-height);

  padding-top: $module-divider-md;
  padding-bottom: $module-divider-md;

  @media (min-width: $md) {
    padding-top: $module-divider-lg;
    padding-bottom: $module-divider-lg;
  }

  &__header {
    @extend %grid;
  }

  &__title {
    padding-left: spacing(5);
    margin-bottom: spacing(5);

    grid-column: 1 / 5;

    @extend %header-2;

    @media (min-width: $md) {
      padding-left: 0;

      grid-column: 2 / 8;
    }

    @media (min-width: $lg) {
      margin-bottom: 0;

      grid-column: 3 / 7;
    }
  }

  &__text {
    padding-left: spacing(5);

    @extend %body-1;
    color: $white-80;

    grid-column: 1 / 5;

    @media (min-width: $md) {
      padding-left: 0;

      grid-column: 2 / 8;
    }

    @media (min-width: $lg) {
      grid-column: 7 / 11;
    }

    p {
      margin-bottom: spacing(2);
    }
  }

  &__examples {
    margin-top: $module-divider-md;

    display: flex;
    align-items: center;
    flex-direction: column;

    @media (min-width: $md) {
      margin-top: $module-divider-lg;
    }
  }

  &__examples-title {
    padding: spacing(3) spacing(4);
    margin-bottom: $module-divider-md;

    @extend %header-5;
    color: $purple;

    background-color: $white;
    border-radius: 83px;

    @extend %background-filter;

    @media (min-width: $md) {
      margin-bottom: $module-divider-lg;
    }
  }

  &__list {
    @extend %grid;
    row-gap: spacing(4);
  }

  &__list-content {
    display: flex;
    flex-direction: column;

    grid-column: 1 / 5;

    @media (min-width: $md) {
      grid-column: 2 / 8;
    }

    @media (min-width: $lg) {
      grid-column: 4 / 11;
    }
  }

  &__image {
    height: 160px;
    width: 160px;
    display: block;

    background: linear-gradient(116.27deg, #0A03D6 -13.85%, #6B00CF 30.72%, #E32E40 107.36%);
    border-radius: 50%;

    @media (min-width: $md) {
      height: 200px;
      width: 200px;
    }
  }

  &__example {
    padding: spacing(2);
    grid-column: 1 / 5;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: spacing(1);

    @extend %header-4;
    text-align: center;

    &:not(:last-child) {
      margin-bottom: spacing(1);
    }

    @media (min-width: $md) {
      grid-column: 2 / 8;
      flex-direction: row;
      column-gap: spacing(5);
    }

    @media (min-width: $lg) {
      text-align: left;

      &:nth-child(odd) {
        grid-column: 4 / 10;
      }

      &:nth-child(even) {
        grid-column: 6 / 11;
      }
    }

    p {
      flex: 1;
    }
  }
}
