.hero {
  min-height: calc(100vh - $header-height);

  @extend %grid;

  &__content {
    padding-top: $module-divider-md;
    padding-bottom: $module-divider-md;
    padding-left: spacing(5);

    grid-column: 1 / 5;

    @media (min-width: $md) {
      padding-bottom: $module-divider-lg;
      padding-left: 0;

      grid-column: 2 / 8;
    }

    @media (min-width: $lg) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      grid-column: 4 / 11;
    }
  }

  &__chip {
    display: inline-block;
    margin-bottom: spacing(4);

    padding: spacing(1) spacing(1.5);

    background: $white;
    box-sizing: border-box;
    border-radius: 27px;

    @extend %subtitle-1;
    color: $purple;
  }

  &__title {
    margin-bottom: spacing(4);

    @extend %header-1;
  }
}
