.play-link {
  $self: &;

  height: spacing(7);
  padding-right: spacing(3);

  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: spacing(1);

  @extend %body-1;

  border-radius: 82px;

  background: $white-20;

  transition: background $simple-fade, color $simple-fade;

  &:hover {
    background: $white-90;
    color: $purple;

    #{ $self }__icon {
      background: $white;
      color: $purple;

      &::after {
        background: $purple;
      }
    }
  }

  &__icon {
    position: relative;
    display: inline-block;
    height: spacing(7);
    width: spacing(7);
    margin-right: spacing(2);
    flex: 0 0 auto;

    background: #ffffff50;

    border-radius: 50%;

    transition: background $simple-fade, color $simple-fade;

    &::after {
      content: '';
      position: absolute;
      top: calc(50% - 7px);
      left: calc(50% - 4px);

      height: 14px;
      width: 10px;
      background: $white;

      clip-path: polygon(100% 50%, 0 0, 0 100%);

      transition: background $simple-fade;
    }
  }

  &__text {
    white-space: nowrap;
  }
}
