.events {
  padding-bottom: $module-divider-md;

  @media (min-width: $md) {
    padding-bottom: $module-divider-lg;
  }

  &__title {
    display: block;
    padding: spacing(3) spacing(4);
    margin: 0 auto $module-divider-md;
    width: fit-content;

    @extend %header-4;
    color: $purple;

    background-color: $white;
    border-radius: 83px;

    @media (min-width: $md) {
      margin-bottom: $module-divider-lg;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: $module-divider-md;

    @media (min-width: $lg) {
      row-gap: 0;
    }
  }
}
