.events {
  min-height: calc(100vh - $header-height);

  padding-top: $module-divider-md;
  padding-bottom: $module-divider-md;

  @media (min-width: $md) {
    padding-top: $module-divider-lg;
    padding-bottom: $module-divider-lg;
  }

  &__content {
    padding-bottom: $module-divider-md;

    @media (min-width: $md) {
      padding-bottom: $module-divider-lg;
    }
  }

  &__title {
    display: block;
    padding: spacing(3) spacing(4);
    margin: 0 auto $module-divider-md;
    position: relative;
    left: spacing(2);
    width: fit-content;

    @extend %header-5;
    color: $purple;

    background-color: $white;
    border-radius: 83px;

    @media (min-width: $lg) {
      left: 0;
    }
  }

  &__list {
    margin-left: spacing(5);

    display: flex;
    flex-direction: column;
    row-gap: $module-divider-md;

    @media (min-width: $lg) {
      margin-left: 0;
    }

    @media (min-width: $lg) {
      row-gap: 0;
    }
  }
}
