.library-links {
    padding: spacing(7) spacing(2);

    @media (min-width: $lg) { 
        padding-left: spacing(3);
        padding-right: spacing(3);
    }

    &__item {
        position: relative;
        padding: spacing(3);

        border-top: 1px solid $white-50;

        @extend %grid;

        @extend %background-filter;

        &:hover {
            background: $white-20;
            transition: background $simple-fade;
        }
    }

    &__author {
        margin-bottom: spacing(2);

        @extend %header-5;
    }

    &__info {
        max-width: 542px;
        margin-bottom: spacing(2.5);

        @extend %header-2;

        grid-column: 1 / 5;

        @media (min-width: $md) {
            grid-column: 1 / 4;
        }

        @media (min-width: $lg) {
            grid-column: 1 / 6;
        }
    }

    &__description {
        grid-column: 1 / 5;

        margin-bottom: spacing(2.5);

        @extend %body-1;
        color: $white-80;

        @media (min-width: $md) {
            grid-column: 4 / 7;
        }

        @media (min-width: $lg) {
            grid-column: 6 / 10;
        }
    }

    &__link {
        @extend %header-2;
        
        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
        }
    }

    &__chips {
        display: flex;
        align-items: center;
        column-gap: spacing(2);

        grid-column: 1 / 5;

        @media (min-width: $md) {
            flex-direction: column;
            align-items: flex-end;
            row-gap: spacing(2);

            grid-column: 7 / 9;
        }

        @media (min-width: $lg) {
            grid-column: 10 / 13;
        }
    }

    &__topics {
        @extend %subtitle-1;
        text-align: right;
    }
}