html {
  font-size: $font-base;
}

body {
  min-height: 100vh;
  overflow-x: hidden;

  font-family: $inter;
  @extend %body-1;
  color: $white;
}

a {
  color: inherit;
  text-decoration: none;
}

// Background filter
#noise-filter-wrapper {
  position: absolute;
  height: 0;
}

body::before {
  position: fixed;
  left: 0;
  top: 0;
  content: '';
  width: 100%;
  height: 100%;
  z-index: -1;
  mix-blend-mode: darken;
  // mix-blend-mode: difference;
  // mix-blend-mode: exclusion;
  // mix-blend-mode: multiply;
}

body::before {
  filter: url(#noise-filter);
  z-index: $index-filter;
}
