html {
  font-size: $font-base;

  background-color: #9e139d;

  height: calc(var(--vh, 1vh) * 100);

  scrollbar-color: $purple transparent;
  scrollbar-width: thin;
}

body {
  height: calc(var(--vh, 1vh) * 100);
  overflow-x: hidden;

  font-family: $inter;
  @extend %body-1;
  color: $white;
}

a {
  color: inherit;
  text-decoration: none;
}

body::before {
  position: fixed;
  left: 0;
  top: 0;
  content: '';
  width: 100%;
  height: 100%;
  z-index: -1;

  background-image: url('/images/noise.png');
  background-size: 300px 300px;
  mix-blend-mode: overlay;

  z-index: $index-filter;
}

::-moz-selection {
  color: $white;
  background: $green;
}
::selection {
  color: $white;
  background: $green;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: $purple;
}

body::-webkit-scrollbar-thumb {
  background-color: $white-40;
  border-radius: 20px;
  border: 3px solid $purple;
}

:focus-visible {
  outline: none;
  outline: 2px solid $green;
}