@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=JetBrains+Mono:wght@400&display=swap');

// Base
$font-base: 16;
$inter: 'Inter', sans-serif;
$jetbrains: 'JetBrains Mono', monospace;

// Weights
$regular: 400;
$medium: 500;
$semibold: 600;

// Styles
%header-1 {
  font-family: $jetbrains;
  font-weight: $regular;
  font-size: 1.375rem;
  line-height: 1.6;

  @media (min-width: $md) {
    font-size: 3rem;
    line-height: 1.5;
  }
}

%header-2 {
  font-family: $jetbrains;
  font-weight: $regular;
  font-size: 1.125rem;
  line-height: 1.6;
  letter-spacing: 0.02em;

  @media (min-width: $md) {
    font-size: 2.25rem;
    letter-spacing: initial;
  }
}

%header-3 {
  font-family: $jetbrains;
  font-weight: $regular;
  font-size: 1.375rem;
  line-height: 1.6;

  letter-spacing: 0.02em;

  @media (min-width: $md) {
    font-size: 1.5rem;
    line-height: 1.64;
    letter-spacing: initial;
  }
}

%header-4 {
  font-family: $inter;
  font-weight: $medium;
  font-size: 1.25rem;
  line-height: 1.4;

  @media (min-width: $md) {
    font-size: 2.25rem;
  }
}

%header-5 {
  font-family: $inter;
  font-weight: $regular;
  font-size: 1rem;
  line-height: 1.21;

  @media (min-width: $md) {
    font-size: 1.25rem;
  }
}

%body-1 {
  font-family: $inter;
  font-weight: $regular;
  font-size: 0.875rem;
  line-height: 1.6;

  @media (min-width: $md) {
    font-size: 1rem;
  }
}

%subtitle-1 {
  font-family: $inter;
  font-weight: $semibold;
  font-size: 0.75rem;
  line-height: 1.21;

  @media (min-width: $md) {
    font-size: 1rem;
    letter-spacing: 0.02em;
  }
}

%subtitle-2 {
  font-family: $inter;
  font-weight: $semibold;
  font-size: 0.75rem;
  line-height: 1.21;

  @media (min-width: $md) {
    font-size: 0.875rem;
  }
}
