@function spacing($factor) {
  @return $spacer * $factor;
}

%grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: spacing(1);
  max-width: 1304px;
  margin: 0 auto;
  padding: 0 spacing(2);

  @media (min-width: $md) {
    grid-template-columns: repeat(8, 1fr);
  }

  @media (min-width: $lg) {
    grid-template-columns: repeat(12, 1fr);
    padding: 0 spacing(4);
  }
}

%background-filter {
  backdrop-filter: blur(60px);
}
