@function spacing($factor) {
  @return $spacer * $factor;
}

%grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: spacing(1);
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 spacing(2);

  @media (min-width: $md) {
    grid-template-columns: repeat(8, 1fr);
  }

  @media (min-width: $lg) {
    grid-template-columns: repeat(12, 1fr);
    padding: 0 spacing(4);
  }
}

%background-filter {
  backdrop-filter: blur(60px);
}

%background-filter-white {
  background: $white-20;
  @extend %background-filter;
}

%markdown {
  p {
    margin-bottom: spacing(2);
  }

  ul {
    list-style: disc;
  }

  li {
    margin-left: 1em;
    margin-bottom: spacing(1);
  }
}
