// Spacing
$spacer: 8px;

$header-height: 76px;
$footer-height: 166px;

$module-divider-sm: 40px;
$module-divider-md: 80px;
$module-divider-lg: 140px;

// Breakpoints
$sm: 460px;
$md: 700px;
$lg: 920px;
$xl: 1200px;

// Colors
$white: #fff;
$white-90: #ffffffe6;
$white-80: #ffffffcc;
$white-50: #ffffff80;
$white-40: #ffffff66;
$white-20: #ffffff33;
$blue: #0a03d6;
$purple: #6b00cf;
$red: #e32e40;
$salmon: #F7556D;
$green: #1FD19F;

$gradient: linear-gradient(116.27deg, $blue -13.85%, $purple 30.72%, $salmon 107.36%);

// Indexes
$index-filter: 1;
$index-content: 5;
$index-event-link: 5;
$index-anchor-navigation: 20;
$index-header: 20;
$index-footer: 25;
$index-footer-image: -1;
$index-footer-image-content: 15;

// Transitions
$bezier-default: cubic-bezier(0, 0.33, 0.66, 1);
$duration-default: 0.3s;
$duration-long: 2s;

$simple-fade: $duration-default $bezier-default;
$navigation-fade: $duration-default $bezier-default;
$background-fade: $duration-long $bezier-default;
