// Spacer
$spacer: 8px;

// Breakpoints
$sm: 460px;
$md: 700px;
$lg: 920px;

// Colors
$white: #fff;
$white-soft: #ffffff80;
$blue: #0a03d6;
$purple: #6b00cf;
$red: #e32e40;

// Indexes

// Transitions
$bezier-default: cubic-bezier(0.25, 0.1, 0.25, 1);
$duration-default: 0.3s;
$duration-long: 2s;

$simple-fade: $duration-default $bezier-default;
$background-fade: $duration-long $bezier-default;
