// Spacer
$spacer: 8px;

// Breakpoints
$sm: 460px;
$md: 700px;
$lg: 920px;

// Sizing
$nav-height: 73px;

@media (min-width: $md) {
  $nav-height: 81px;
}

@media (min-width: $lg) {
  $nav-height: 70px;
}

// Colors
$white: #fff;
$blue: #0a03d6;
$purple: #6b00cf;
$red: #e32e40;

// Indexes

// Transitions
