@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

// Base
$font-base: 16;

// Weights
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$heavy: 900;
